.menu{
  position: relative;
  bottom:5.8rem;
  left: 44rem;
  border-radius: 50px;
  background-color: #f50057;
    width: 8%;
    height: 7vh;
}
.menu-res{
    position: absolute;
    top: 10px;
    left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
